.main_content_wrapper {
    margin: 0px auto 0px auto;
    width: 1026px;
}

#detail_header {
    margin-bottom: 8px;
    float: left;
}

.title_wrapper {
    left: 18px;
    top: -8px;
    position: relative;
    float: left;
}

.title_wrapper_left {
    width: 11px;
    height: 40px;
    background: url("../img/tip-left.png") no-repeat;
    float: left;
}

.title_content {
    height: 40px;
    background: url("../img/tip-bg.png") repeat-x;
    float: left;
}

.title_content span {
    line-height: 40px;
    color: #ffffff;
    font-family: "黑体", Verdana;
    font-size: 1.2em;
    padding-left: 13px;
    padding-right: 13px;
}

.title_wrapper_right {
    width: 11px;
    height: 40px;
    background: url("../img/tip-right.png") no-repeat;
    float: left;
}

.detail_properties_link {
    height: 30px;
    border-left: 1px solid #dfdfdf;
    float: left;
}

.detail_properties_link a {
    display: inline-block;
    padding-left: 19px;
    padding-right: 21px;
    line-height: 30px;
    color: #989898;
    font-size: 0.9em;
    font-family: Arial,"微软雅黑","幼圆", sans-serif;
    overflow: hidden;
    white-space: nowrap;
}

.detail_properties_link a:hover {
    display: inline-block;
    background: #f6f6f6;
}

#detail_category {
    margin-left: 26px;
}

#detail_subcategory {
    border-right: 1px solid #dfdfdf;
}
/**
 * work_content_wrapper is the left area under navigation bar which contains the article and comments. its right is work_info_wrapper.
 */
#work_content_wrapper {
    width: 774px;
    float: left;
}

/* article styles  */
#article {
    width: 772px;;
    min-height: 200px;
    background: #ffffff;
    border: 1px solid #dfdfdf;
}

/* comment styles */
#comments {
    width: 100%;
    margin-top: 28px;
}

#comments_title {
    font-size: 1em;
    font-family: "黑体",sans-serif;
    color: #848484;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    padding: 5px 0px 5px 0px;
}

#comments_title span {
    padding: 0px 8px 0px 8px;
}

.commentlist {
    width: 100%;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #d9d9d9;
    margin: 0px;
    padding: 0px;
    list-style-type: none;;
}

li.depth_1 {
    margin: 70px 5px 36px 5px;
    padding: 5px 8px 5px 8px;
    display: block;
    position: relative;
    background-color: #ffffff;
    -moz-box-shadow:    3px 5px 5px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.18);
    box-shadow:         3px 5px 5px 0px rgba(0, 0, 0, 0.18);
}

li.depth_1:after  {
    background: url("../img/spirite.png") no-repeat;
    background-position: -310px -49px;
    width: 31px;
    height: 13px;
    position: absolute;
    top: -12px;
    left: 51px;
    content: "";
}

.comment {
    margin: 5px 8px 10px 8px;
}


.comment_meta {
    position: absolute;
    top: -63px;
}

.comment_author_avatar {
    width: 48px;
    height: 48px;
    background: #ffffff;
    display: block;
}

.comment_author_avatar img {
    width: 42px;
    height: 42px;
    margin-left: 3px;
    margin-top: 3px;
    border: none;
}

.comment_author_name {
    display: block;
    position: absolute;
    left: 59px;
    top: 7px;
    font-size: 1em;
}

.comment_timestamp {
    position: relative;
    top: -21px;
    left: 59px;
    font-size: 0.79em;
}

.comment_timestamp span {
    color: #5e5e5e;
}

.comment_content {
    font-size: 1em;
    color: #5e5e5e;
    margin-top: 5px;
    margin-bottom: 10px;
}

.comment_content p {
    line-height: 1.5em;
    margin: 0px;
}

.reply {
    float: left;
    cursor: pointer;
    line-height: 0.8em;
    margin-right: 9px;
}

.reply_icon {
    margin-top: 2px;
    margin-right: 2px;
    display: block;
    float: left;
    width: 13px;
    height: 8px;
    background: url("../img/spirite.png") no-repeat;
    background-position: -310px -36px;
}

.reply span {
    font-size: 0.86em;
    color: #bbbbbb;
    display: block;
    float: left;
}

.edit_link {
    float:left;
    cursor: pointer;
    line-height: 0.8em;
}

.edit_icon {
    margin-top: 1px;
    margin-right: 2px;
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    background: url("../img/spirite.png") no-repeat;
    background-position: -324px -36px;
}

.edit_link span {
    font-size: 0.86em;
    color:#bbbbbb;
    display: block;
    float: left;
}

ul.children {
    list-style-type: none;
}

.depth_1 ul.children {
    padding: 0px;
    margin: 0px;
}

.children li {
    position: relative;
    display: block;
    padding-left: 59px;
    border-top: 1px solid #d9d9d9;
}

.children .comment_meta {
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
}

.children .comment_author {
    float: left;
}

.children .comment_author_avatar {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 5px;
    left: -59px;
    background: #d9d9d9;
}

.children .comment_author_avatar img {
    width: 42px;
    height: 42px;
    margin-top: 1px;
    margin-left: 1px;
    border: none;
}

.children .comment_author_name {
    font-size: 0.86em;
    position: static;
    float: left;
}

.comment_conversation {
    float: left;
    margin-left: 10px;
    font-size: 0.79px;
    padding-top: 2px;
}

.comment_conversation span {
    color: #5e5e5e;
}

.children .comment_timestamp {
    position: static;
    float: left;
    clear: right;
    margin-left: 10px;
    padding-top: 2px;
}

.children .comment_content {
    clear:both;
    padding-top: 5px;
}

#respond {
    width: 100%;
    margin-top: 14px;
}

#respond .respond_account {
    margin-left: 15px;
    display: block;
    float: left;
}

#respond .respond_avatar {
    width: 48px;
    height: 48px;
    display: block;
    border: 1px solid #d9d9d9;
    background: #ffffff;
    float: left;
}

#respond .respond_avatar img {
    width: 42px;
    height: 42px;
    margin-left: 3px;
    margin-top: 3px;
    border: none;
}

#respond .respond_name {
    display: block;
    float: left;
    font-size: 1em;
    margin-left: 10px;
    margin-top: 8px;
}

#respond .respond_tips {
    font-size: 0.79em;
    color: #969696;
    display: block;
    float: left;
    margin-left: 12px;
    padding: 10px;
}

#compose_comment {
    width: 673px;
    height: auto;
    background: #ffffff;
    display: block;
    clear: both;
    border: 1px solid #d9d9d9;
    position: relative;
    top: -3px;
    left: 78px;
    padding: 0px;
}

#compose_comment:after {
    position: absolute;
    top: -8px;
    left: -10px;
    width: 17px;
    height: 15px;
    content: " ";
    background: url("../img/spirite.png") no-repeat;
    background-position: -310px -114px;
}

#comment {
    width: 673px;
    height: 116px;
    padding: 8px;
    outline: none;
    border: none;
    background: transparent;
    resize: vertical;
}

#comment_submit {
    width: 95px;
    height: 27px;
    margin-right: 28px;
    margin-top: 17px;
    display: block;
    color: #969696;
    float: right;
    text-align: center;
    position: relative;
}
#comment_submit span {
    line-height: 27px;
}

/**
 * work_info_wrapper is the right area which shows work info such as author, tag, download button etc.
  */
#work_info_wrapper {
    width: 240px;
    float:left;
    margin-left: 9px;
}

#author_avatar_wrapper {
    display: block;
    background: #ffffff;
    border: 1px solid #dfdfdf;
    width: 75px;
    height: 75px;
    float: left;
    margin-left: 6px;
    margin-right: 15px;
}
#author_avatar_wrapper img {
    width: 65px;
    height: 65px;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
}
#author_name {
    float: left;
    display: block;
    width: 132px;
    height: 33px;
    margin-right: 10px;
    line-height: 33px;
    color: #000000;
    font-family: "黑体", sans-serif;
    font-size: 1.1em;
}

#author_sign {
    float: left;
    width: 132px;
    height: 42px;
    margin-right: 10px;
    color: #606060;
    font-size: 0.7em;
}
#author_function_wrapper{
    clear: both;
    display: block;
}

.info_section_label {
    margin: 20px 6px 0px 6px;
}

.info_section_divider {
    clear: both;
    height: 1px;
    border-bottom: 1px solid #ffffff;
    background: #d9d9d9;
    width: 229px;
}

#info_label_author {
    float: right;
    width: 85px;
    height: 15px;
    background: url("../img/spirite.png") no-repeat;
    background-position: 0px -140px;
}

#project_info {
    margin-top: 14px;
}

#project_brief {
    margin-left: 18px;
    margin-right: 10px;
}

#project_brief span {
    line-height: 21px;
    display: block;
    font-size: 0.7em;
    color: #838383;
    font-family: "黑体", sans-serif;
}

#project_download_button {
    width: 153px;
    height: 54px;
    margin: 30px auto 0px 30px;
    position: relative;
    cursor: pointer;
}

#download_icon {
    width: 29px;
    height: 25px;
    margin-top: 10px;
    margin-left: 15px;
    background: url("../img/spirite.png") no-repeat;
    background-position: -240px -95px;
    float: left;
}

.button_title {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    clear:right;
    font-size: 0.82em;
    font-family: "微软雅黑","幼圆", sans-serif;
    color: #8c8c8c;
}

.button_desc {
    margin-left: 10px;
    margin-top: 8px;
    float: left;
    clear:right;
    font-size: 0.64em;
    font-family: "幼圆", sans-serif;
    color: #a0a0a0;
}

#project_favorite_button {
    width: 153px;
    height: 54px;
    margin: 30px auto 0px 30px;
    position: relative;
    cursor: pointer;
}

#favorite_icon {
    width: 30px;
    height: 29px;
    margin-top: 10px;
    margin-left: 15px;
    background: url("../img/spirite.png") no-repeat;
    background-position: -270px -96px;
    float: left;
}

#info_label_project {
    float: right;
    width: 85px;
    height: 15px;
    background: url("../img/spirite.png") no-repeat;
    background-position: -86px -140px;
}

#work_tags {
    margin-top: 14px;
}

#work_tags_list {
    margin: 0px 6px 0px 12px;
    padding: 0px;
}

#info_label_tags {
    float: right;
    width: 85px;
    height: 15px;
    background: url("../img/spirite.png") no-repeat;
    background-position: -172px -140px;
}

#info_label_share {
    float: right;
    width: 85px;
    height: 15px;
    background: url("../img/spirite.png") no-repeat;
    background-position: -258px -140px;
}

/** Control Panel's special style***/
#cpl_header {
    float: left;
}

#user_avatar {
    margin: 15px 22px 13px 22px;
    width: 140px;
    height: 140px;
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
    float: left;
}

#user_avatar img {
    width: 128px;
    height: 128px;
    border: none;
    margin: 6px;
}

#user_signature_wrapper {
    clear: both;
    position: relative;
    margin-left: 53px;
}

#signature {
    background-color: #ffffff;
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    top: 11px;
    left: 4px;
    -moz-box-shadow:    3px 5px 5px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.18);
    box-shadow:         3px 5px 5px 0px rgba(0, 0, 0, 0.18);
}

#signature span {
    line-height: 34px;
    font-size: 1em;
    color: #686868;
    padding:0px;
    margin-left: 20px;
    margin-right: 15px;
    display: block;
}

#signature:after {
    width: 16px;
    height: 11px;
    display: block;
    position: absolute;
    background: url("../img/bubble_w_point.png") no-repeat;
    top: -11px;
    left: -3px;
    content: "";
}
#signature_label {
    width: 75px;
    height: 7px;
    background: url("../img/spirite.png") no-repeat;
    background-position: -268px -132px;
    position: relative;
    top: 1px;
    left: 28px;
}

#user_info {
    float: left;
}

#simple_user_info {
    float: left;
    margin-top: 22px;
    min-width: 166px;
    min-height: 136px;
    border-right: 1px solid #dcdcdc;
}

.tiny_bubble_title {
    background-color: #ffffff;
    width: 78px;
    height: 18px;
    display: block;
    position: relative;
    top: 0px;
    left: 6px;
    -moz-box-shadow:    3px 5px 5px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.18);
    box-shadow:         3px 5px 5px 0px rgba(0, 0, 0, 0.18);
    clear:right;
}

.tiny_bubble_title:after {
    width: 9px;
    height: 5px;
    display: block;
    position: absolute;
    background: url("../img/bubble_s_point.png") no-repeat;
    top: 15px;
    left: -6px;
    content: "";
}
.tiny_bubble_title span {
    line-height: 18px;
    font-size: 0.78em;
    color: #686868;
    padding:0px;
    margin-left: 5px;
    margin-right: 10px;
    display: block;
}

span.user_info_content {
    line-height: 20px;
    margin: 12px 20px 18px 7px;
    display: block;
    font-size: 1.2em;
    color: #686868;
}

#extend_user_info {
    min-height: 136px;
    border-left: 1px solid #ffffff;
    margin-top: 22px;
    padding-left: 26px;
    float: left;
}

#user_sns_link {
    list-style-type: none;
    padding: 0px;
    margin: 12px 20px 18px 7px;
    float: left;
}

#user_sns_link li {
    float: left;
    display: block;
    margin: 0px 10px 10px 0px;
}

a.sns_icon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    display: block;
}

a.twitter {
    background-image: url("../img/twitter.png");
}
a.facebook {
    background-image: url("../img/facebook.png");
}
a.foursquare {
    background-image: url("../img/foursquare.png");
}

#user_works {
    width: 100%;
    margin: 0px;
    padding: 44px 0px 0px 0px;
    border-top: 1px solid #d9d9d9;
    position: relative;
}

#user_works:before {
    width: 100%;
    height: 1px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff
}

#user_works:after {
    width: 100px;
    height: 29px;
    background: url("../img/spirite.png") no-repeat;
    background-position: 0px -156px;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
}