/*
 * This style sheet is used for index.html
 * use style.css for common styles.
 */

#popular_works_show {
    margin: 0px auto 0px auto;
    width: 1026px;
}

#popworks_group_header {
    margin-bottom: 18px;
}

#popworks_group_label {
    margin: 0px;
    width: 119px;
    height: 45px;
    background: url("../img/spirite.png") no-repeat;
    background-position: 0px -95px;
    position: absolute;
    left: 24px;
    top: -9px;
}

#time_selector_for_pop {
    width: 123px;
    height: 100%;
    border-left: 1px solid #dfdfdf;
    float: right;
}


#time_selector_for_pop span {
    width: 89px;
    margin: 7px 5px auto 7px;
}

#platform_selector_for_pop {
    width: 123px;
    height: 100%;
    border-left: 1px solid #dfdfdf;
    float: right;
}

#platform_selector_for_pop span {
    width: 89px;
    margin: 7px 5px auto 7px;
}

#tags_selector_for_pop {
    width: 80px;
    height: 100%;
    border-left: 1px solid #dfdfdf;
    float: right;
}

#tags_selector_for_pop span {
    width: 46px;
    margin: 7px 5px auto 7px;
}

#tags_selector_for_pop ul.drop_down {
    padding: 8px 6px 8px 8px;
}

#tags_selector_for_pop ul.drop_down li {
    padding: 0px;
}
#tags_selector_for_pop ul.drop_down li.focused {
    background: #ffffff;
    color: #989898;
}

#search_box_for_pop {
    width: 189px;
    height: 100%;
    float: right;
    border-left: 1px solid #dfdfdf;
}

.search_box_wrapper {
    width: 178px;
    height: 23px;
    margin: 3px;
    position: relative;
    border: 1px solid #dfdfdf;
    background: #ffffff;
}

.search_box_wrapper span.search_box_icon {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 17px;
    height: 18px;
    background: url("../img/spirite.png") no-repeat;
    background-position: -292px -17px;
    z-index: 4;
}

.search_box_input {
    background: transparent;
    border: none;
    outline: none;
    width: 151px;
    height: 17px;
    margin: 0;
    font-family: "微软雅黑","幼圆", sans-serif;
    font-size: 0.7em;
    line-height: normal;
    display: block;
    position: relative;
    left: 23px;
    top: 2px;
}

.works_panel_wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

.works_panel {
    width: 250px;
    height: 330px;
    margin-top: 0px;
    margin-bottom: 23px ;
    float: left;
    border: 1px solid #dfdfdf;
    position: relative;
}

.works_panel_margin {
    margin-right: 6px;
}

.work_content_wrapper {
    width: 100%;
    height: 100%;
    background: #ffffff;
    margin: 0;
}

.work_content_wrapper div.preview_img_wrapper {
    top: 4px;
    left: 4px;
    width: 240px;
    height: 180px;
    border: 1px solid #dfdfdf;
    position: relative;
}
.preview_img_wrapper a{
    display: block;
}
.preview_img_wrapper a img {
    width: 240px;
    height: 180px;
    border: none;
}

.preview_img_wrapper div.img_lightbox_controls {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 26px;
    background: #ffffff;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"; /* Theoretically for IE 8 & 9 (more valid) ...but not required as filter works too should come BEFORE filter*/ 
    filter: alpha(opacity=65); /* This works in IE 8 & 9 too ... but also 5, 6, 7 */
    -moz-opacity:0.65; /* Older than Firefox 0.9 */
    -khtml-opacity: 0.65; /* Safari 1.x (pre WebKit!) */
    opacity: 0.65; /* Modern! Firefox 0.9+, Safari 2?, Chrome any? Opera 9+, IE 9+ */
}

.preview_img_wrapper div.img_lightbox_controls a.zoom_in_tool {
    display: block;
    width: 18px;
    height: 19px;
    float: right;
    margin: 3px 10px 1px 10px;
    background: url("../img/spirite.png") no-repeat;
    background-position: -240px -120px;
}

.work_content_wrapper div.work_title {
    position: relative;
    top: 4px;
    width: 100%;
    height: 35px;
    padding: 0px;
}
.work_content_wrapper div.work_title a {
    padding: 0px 11px 0px 11px;
    line-height: 35px;
}
.work_content_wrapper div.work_author {
    width: 100%;
    height: 23px;
    padding: 0px;
    float: left;
}
.work_content_wrapper div.work_author span {
    float: left;
    display: block;
    padding: 4px 20px 3px 13px;
    font-size: 0.9em;
    color: #636363;
}
.work_content_wrapper div.work_author a {
    float: left;
    display: block;
    padding: 4px 12px 3px 2px;
    font-size: 0.9em;
}

.work_content_wrapper div.work_tags {
    width: 100%;
    height: 57px;
    padding: 0px;
    float: left;
}

.work_content_wrapper div.work_tags ul {
    width: 234px;
    height: 100%;
    margin: 6px 8px 3px 8px;
    padding: 0px;
}

.work_content_wrapper div.work_panel_divider {
    width: 226px;
    height: 1px;
    background: #f0f0f0;
    float: left;
    display: block;
    margin: 0px 17px 0px 7px;
}

.work_content_wrapper div.statistics_show_wrapper {
    width: 100%;
    height: 32px;
    margin: 0px;
    padding: 0px;
    float: left;
}

.work_content_wrapper div.statistics_show_wrapper div.statistics_downloads_wrapper {
    float: left;
    margin: 9px 1px 9px 11px;
}

div.statistics_downloads_wrapper div.downloads_icon {
    width: 14px;
    height: 12px;
    float: left;
    background: url("../img/spirite.png") no-repeat;
    background-position: -292px -36px;
}

div.statistics_show_wrapper span {
    line-height: 12px;
    color: #a6a6a6;
    font-size: 0.8em;
    display: block;
    float: left;
    padding-left: 6px;
}

.work_content_wrapper div.statistics_show_wrapper div.statistics_comments_wrapper {
    float: left;
    margin: 9px 1px 9px 11px;
}

div.statistics_comments_wrapper div.comments_icon {
    width: 14px;
    height: 13px;
    float: left;
    background: url("../img/spirite.png") no-repeat;
    background-position: -292px -49px;
}

.work_content_wrapper div.statistics_show_wrapper div.statistics_favorites_wrapper {
    float: left;
    margin: 7px 1px 9px 11px;
}

div.statistics_favorites_wrapper div.favorites_icon {
    width: 14px;
    height: 14px;
    float: left;
    background: url("../img/spirite.png") no-repeat;
    background-position: -292px -63px;
}

div.statistics_favorites_wrapper span {
    padding-top: 2px;
    line-height: 12px;
}

div.work_special_indicator {
    position: absolute;
    left: 221px;
    top: 301px;
    width: 30px;
    height: 30px;
    background: url("../img/spirite.png") no-repeat;
    background-position: -310px 0px;
}

.page_navigator_holder {
    width: 100%;
    height: 31px;
}

.page_navigator_holder .more_content_button_wrapper {
    height: 31px;
    width: 79px;
    display: block;
    float: right;
    position: relative;
    margin-right: 46px;
}

.more_content_button_wrapper span {
    line-height: 31px;
    font-size: 1em;
    color: #a6a6a6;
    display: block;
    float: left;
    padding-left: 15px;
}

.right_arrow_icon {
    background: url("../img/spirite.png") no-repeat;
    background-position: -300px -114px;
    width: 9px;
    height: 16px;
    margin-top: 7px;
    margin-right: 13px;
    margin-bottom: 8px;
    margin-left: 10px;
    float: left;
}

#new_works_show {
    margin: 36px auto 0px auto;
    width: 1026px;
}

#newworks_group_header {
    margin-bottom: 18px;
}

#newworks_group_label {
    margin: 0px;
    width: 119px;
    height: 45px;
    background: url("../img/spirite.png") no-repeat;
    background-position: -120px -95px;
    position: absolute;
    left: 24px;
    top: -9px;
}

#time_selector_for_new {
    width: 123px;
    height: 100%;
    border-left: 1px solid #dfdfdf;
    float: right;
}


#time_selector_for_new span {
    width: 89px;
    margin: 7px 5px auto 7px;
}

#platform_selector_for_new {
    width: 123px;
    height: 100%;
    border-left: 1px solid #dfdfdf;
    float: right;
}

#platform_selector_for_new span {
    width: 89px;
    margin: 7px 5px auto 7px;
}

#tags_selector_for_new {
    width: 80px;
    height: 100%;
    border-left: 1px solid #dfdfdf;
    float: right;
}

#tags_selector_for_new span {
    width: 46px;
    margin: 7px 5px auto 7px;
}

#tags_selector_for_new ul.drop_down {
    padding: 8px 6px 8px 8px;
}

#tags_selector_for_new ul.drop_down li {
    padding: 0px;
}
#tags_selector_for_new ul.drop_down li.focused {
    background: #ffffff;
    color: #989898;
}
#search_box_for_new {
    width: 189px;
    height: 100%;
    float: right;
    border-left: 1px solid #dfdfdf;
}
