/**
 * common style sheet
 * Version: 1.0;
 * Author: Delacstrasz;
 */

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-width: 1026px;
    background: #f0f0f0;
    font-family: "Geneva","微软雅黑","幼圆",Sans-serif;
 }

h1, h2, h3, h4, h5, h6, hr, p, a, div, span, li, ul, ol, dt, dl, dd,fieldset, legend, button, input, textarea {
    font-family: "Geneva","微软雅黑","幼圆",Sans-serif;
}

a {
    text-decoration: none;
    color: #156bcb;
}

a:hover {
    color: #3385ff;
}

#header_bar {
    margin: 0;
    width: 100%;
    height: 135px;
    background: #3b182f; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b182f 0%, #693d55 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b182f), color-stop(100%,#693d55)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3b182f 0%,#693d55 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3b182f 0%,#693d55 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3b182f 0%,#693d55 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3b182f 0%,#693d55 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b182f', endColorstr='#693d55',GradientType=0 ); /* IE6-9 */
}

#header_wrapper {
    margin: 0px auto 0px auto;
    width: 1026px;
    height: 100%;
}

#logo{
    top: 41px;
    left: 16px;
    position: relative;
    width: 291px;
    height: 94px;
    background-image: url("../img/spirite.png");
    background-repeat: no-repeat;
    background-position: 0  0;
}

#nav_menu_wrapper {
    margin: 8px auto 9px auto;
    width: 1026px;
    padding: 0px;
}

#nav_menu {
    margin: 0px 200px 0px auto;
    float: right;
    position: relative;
    list-style-type: none;
    padding: 0px;
    overflow: visible;
}
#nav_menu li {
    display: block;
    padding: 0px;
    margin: 0px;
    float: left;
    font-family: "微软雅黑","幼圆", sans-serif;
    font-size:  1.2em;
}

#nav_menu li a {
    padding: 12px 19px 11px 19px;
    margin: 0px;
    display: block;
    position: relative;
    z-index: 5;
    color: #969696;
}

#nav_menu li a.hot {
    color: #ffffff;
}

#nav_menu li.backLava {
    position: absolute;
    background: #ab528b;
    padding: 12px 19px 11px 19px;
    z-index: 3;
}

div.group_header_bg {
    margin: 0px;
    width: 1024px;
    height: 30px;
    position: relative;
    border: solid #dfdfdf 1px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

#footer_bar {
    margin-top: 98px;
    width: 100%;
    height: 273px;
    background: url("../img/bottom-gradient.png") repeat-x;
}

#nav_links_area {
    width: 1026px;
    height: 171px;
    margin: 16px auto 0px auto;
}

#nav_links_area ul {
    display: block;
    list-style-type: none;
    float: left;
    color: #ffffff;
    padding-right: 80px;
}

#nav_links_area a {
    color: #ffffff;
    text-decoration: none;
}

#nav_links_area a:hover {
    color: #a6deea;
    text-decoration: underline;
}

#nav_links_area ul li.list_title {
    font-size: 1.3em;
    display: block;
    border-bottom: 1px solid #b39faa;
    padding-bottom: 8px;
    margin-bottom: 9px;
}

#nav_links_area ul li {
    display: block;
    padding-bottom: 8px;
    font-size: 0.9em;
}

#copyright_info {
    text-align: center;
    width: 100%;
    clear: both;
    margin-top: 70px;
    color: #afafaf;
    font-size: 0.9em;
}

#sns_link a {
    display: inline-block;
    padding-left: 22px;
}

#user_container_wrapper {
    position: absolute;
}

.fancybox_fix_width {
    max-width: 95%;
}